{include file='public/page_header.htm'}
<body>
{include file='public/page_nav.htm'}
<div class="main">
    <link href="/public/static/themes/index/css/zzsc.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/public/static/themes/index/js/promo_v2.js"></script>

    <div class="promoWD">
        <div id="main_promo">
            <div id="slides">
                <!--<div class="slide"><embed wmode="transparent" src="swf/swf/0.swf" quality="high" allowscriptaccess="sameDomain"
                      type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"
                      height="501" width="100%" /></div>   -->
                {foreach name='flash_data' item='v'}
                <div class="slide"><img src="http://www.bellabee.cn/{$v.src}" width="100%"></div>
                {/foreach}

            </div>
        </div>
        <div id="dots">
            <ul>
                {foreach name='flash_data' item='v'}
                <li class="menuItem"><a href="javascript:;"></a></li>
                {/foreach}
            </ul>
        </div>
    </div>

    <!--banner-->
    <div class="indexcon">
        <div class="wrap">
            <!--新闻动态-->
            <div class="indexcon1">
                <div class="bannerbox1">
                    <div class="banner1">
                        <div id="contentFocus1" class="contentFocus1">
                            <dl>
                                <dt>
                                <h4>
                                    <img src="/public/static/themes/index/images/newstitle.jpg" /></h4>
                                <ul class="newslist">
                                    <li><a href="index.php-c=news&a=index&pid=15&id=71.htm"
                                           title="精准投放•强势曝光 | 爱护婴儿洗衣液强势亮相各大电梯楼宇">
                                        精准投放•强势曝光 | 爱...</a></li>
                                </ul>

                                <a href="index.php-c=news&a=index.htm" class="more">
                                    <img src="/public/static/themes/index/images/more.jpg" /></a>

                                </dt>
                                <dd>

                                    <a href="index.php-c=news&a=index&pid=15&id=71.htm">
                                        <img src="/public/static/uploads/article_source/201805251644143d.png" width="169" height="170" alt="爱护入围2016 CBME AWARDS年度影响力品牌大奖"
                                             title="爱护入围2016 CBME AWARDS年度影响力品牌大奖" /></a>

                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                <h4>
                                    <img src="/public/static/themes/index/images/newstitle2.jpg" /></h4>
                                <ul class="newslist">

                                    <li><a href="/" title="爱护飓风行动" target="_blank">
                                        爱护飓风行动</a></li>

                                    <li><a href="#" title="随手拍爱护，呵护送到家！" target="_blank">
                                        随手拍爱护，呵护送到家！</a></li>

                                    <li><a href="/public/static/20130815/index.html" title="升级爱护 星级呵护" target="_blank">
                                        升级爱护 星级呵护</a></li>

                                    <li><a href="http://www.taobao.com" title="5月-8月 爱护到家2013升级礼" target="_blank">
                                        5月-8月 爱护到家2013升级礼</a></li>

                                </ul>

                                <a href="/" class="more">
                                    <img src="/public/static/themes/index/images/more.jpg" /></a>

                                </dt>
                                <dd>

                                    <a href="/">
                                        <!--<img src="/images/20141294924.jpg" width="169" height="170" alt="用爱护航公益行 爱护帮扶重型地贫儿童" title="用爱护航公益行 爱护帮扶重型地贫儿童" /></a>-->

                                </dd>
                            </dl>
                        </div>
                        <div id="slidenum1" class="slidenum1">

                            <span class="current" ></span>

                            <span ></span>

                        </div>
                    </div>
                </div>
            </div>
            <!--产品中心-->
            <div class="indexcon2">
                <div class="bannerbox2">
                    <div class="banner2">
                        <div id="contentFocus2" class="contentFocus2">

                            <dl>
                                <dt>
                                <h4>
                                    <img src="/public/static/themes/index/images/protitle1.jpg" /></h4>
                                <div class="proinfo">




                                </div>
                                <div class="div_clear">
                                </div>
                                <a href="http://www.taobao.com" class="more">
                                    <img src="/public/static/themes/index/images/more.jpg" alt="" /></a></dt>
                                <dd>
                                    <a href="http://www.taobao.com">
                                        <img src="/public/static/uploads/article_category_source/20180521141236a3.jpg" width="135" height="141" alt=""
                                             title="" /></a></dd>
                            </dl>

                            <dl>
                                <dt>
                                <h4>
                                    <img src="/public/static/images/protitle2.jpg" /></h4>
                                <div class="proinfo">
                                    幼妙绵羊油舒润霜，持久滋润，告别红苹果！
                                </div>
                                <div class="div_clear">
                                </div>
                                <a href="http://www.taobao.com" class="more">
                                    <img src="/public/static/themes/index/images/more.jpg" alt="" /></a></dt>
                                <dd>
                                    <a href="http://www.taobao.com">
                                        <!--<img src="/images/20158245719.jpg" width="135" height="141" alt="幼妙绵羊油"
                                             title="幼妙绵羊油" />--></a></dd>
                            </dl>

                        </div>
                        <div id="slidenum2" class="slidenum2">

                            <span class="current" ></span>

                            <span ></span>

                        </div>
                    </div>
                </div>
            </div>
            <!--公司品牌-->
            <div class="indexcon3">
                <h4>
                    <img src="/public/static/themes/index/images/brandtitle.jpg" alt="" /></h4>
                <div class="bannerbox3">
                    <div class="banner3">
                        <ul id="contentFocus3">

                            <li><a href="index.php-c=about&a=index.htm">
                                <img src="/public/static/themes/index/images/20177133235.jpg" width="238" height="142" alt=""
                                     title="" /></a></li>

                        </ul>
                    </div>
                    <div id="slidenum3" class="slidenum3">

                        <span class="current" ></span>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='public/page_foot.htm'}
</body>
</html>