{include file='public/page_header.htm'}
<body>
{include file='public/page_nav.htm'}
<style>
    .pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
    .pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
    .pagination .active{background-color: #dd1a20;color: #fff;}
    .pagination .disabled{color:#aaa;}
</style>
<!-- main -->
<div class="main">
    <!--BannerIn-->
    <div class="infoban"><img src="/public/static/uploads/banner_source/20170915161500e5.jpg" height="249" alt="新闻动态" title="新闻动态" /></div>

    <!--BannerIn-->
    <div class="neiye">
        <div class="wrap2">
            <!--left-->
            <div class="left">
                <div class="lnav">
                    <ul>
                        {foreach name='nav_classroom_child' item='v'}
                        <li><a href="/Index/article/index/id/{$v.cat_id}">{$v.cat_name}</a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>

            <!--right-->
            <div class="right1">
                <div class="site">
                    <span style="padding-left: 0;">当前位置:</span><a href="/">首页</a>&gt;
                    <a href="/Index/article/index/id/10">孕婴课堂</a>&gt;
                    <a href="/Index/article/index/id/{$datamain.cat_id}">{$datamain.cat_name}</a>&gt;
                    <span style="color: #dd0083;">{$data.title}</span>
                </div>
                <div class="div_clear"></div>
                <div class="nomarg infobox">
                    <div class="newsDetail">
                        <h1>{$data.title}</h1>
                        <h2>作者：{$data.author}&nbsp;&nbsp;&nbsp;发表时间：{$data.add_time|date="Y-m-d",###}</h2>
                        <div class="content">
                            <img src="http://www.bellabee.cn/{$data.file_url}" alt="" onerror="this.src='/public/static/images/nopic.jpg'" />
                            {$data.content}
                            <div class="show_text">
                                <!--分享代码-->
                                    <span>
                                        <div class="fengxiao">分享到：</div>
                                        <div class="bshare-custom">
                                            <a class="bshare-qzone" title="分享到QQ空间"></a>
                                            <a class="bshare-sinaminiblog" title="分享到新浪微博"></a>
                                            <a class="bshare-renren" title="分享到人人网"></a>
                                            <a class="bshare-qqmb" title="分享到腾讯微博"></a>
                                            <a class="bshare-douban" title="分享到豆瓣"></a>
                                            <a class="bshare-more bshare-more-icon more-style-addthis" title="更多平台"></a>
                                            <span class="BSHARE_COUNT bshare-share-count">0</span>
                                        </div>
                                        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
                                        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
                                    </span>
                                <!--分页-->
                                {if $data_per['have']=='yes'}
                                <span>上一篇：<a href="/Index/article/show/id/{$data_per.article_id}">{$data_per.title}</a></span>
                                {/if}
                                {if $data_next['have']=='yes'}
                                <span>下一篇：<a href="/Index/article/show/id/{$data_next.article_id}">{$data_next.title}</a></span>
                                {/if}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    <!-- main end -->
{include file='public/page_foot.htm'}
</body>
</html>